    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}">HBS Grupos Med Collab</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{site.baseurl}}">Home</a></li>
            <li><a href="{{site.baseurl}}/goals">Goals</a></li>
            <li><a href="{{site.baseurl}}/join">Join</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="col-md-4 col-md-push-8">
      	<ul class="list-group">
      		<h4>Resources</h4>
      		<a href="{{site.baseurl}}/documents" class="list-group-item">Documents &amp; Meetings</a>
      		<a href="{{site.baseurl}}/projects" class="list-group-item">Ongoing Projects</a>
      		<a href="http://med.hbsgrupos.org/forum" target="_blank" class="list-group-item">Forum</a>
      	</ul>
      </div>
